<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Ehran_Lenaerts_R0661627-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="img/style.css" />
    <title>New themepark</title>
</head>
<body>
<main class="container d-flex flex-column min-vh-100">
    <div class="p-5 m-2 headerRoller">
        <h2>Add a new themepark</h2>
    </div>
<div>
    <form class="row m-2" action="NewThemePark">
        <p class="col-12">
        <label class="col-2 col-form-label" for="themepark">Name theme park</label>
        <input class="col-7" type="text" name="themepark" id="themepark">
        </p>

        <p class="col-12">
        <input class="btn btn-primary col-3 mx-3" type="submit" value="Confirm theme park">
        </p>
    </form>
</div>
<a href="/">Back to home page</a>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>